@media screen and (max-width:678px){
    .container{
        grid-template-areas: 
        "main-header main-header"
        "mobile-content mobile-img"
        "keyboard joystick" 
        "pc apple-content"
        "laptop floppy-disk"
        "much-better much-better"
        "tv tv"
        ;
        grid-template-columns: 50% 50%;
    }

    .tv-img img{
        max-width: 100%;
        position: relative;
        top: 0;
    }

    .much-better{
        padding: var(--padding-block) var(--padding-inline);
    }

    .floppy-disk .img-wrapper{
        max-width: 400px; /* Reduce circle size */
    }
    
    .floppy-img img {
        width: 60%;
    }

    .laptop .mini-class {
        width: 25%; /* Make the badge larger for better visibility */
    }
}

@media screen and (max-width:768px){
    .container{
        grid-template-areas: 
        "main-header main-header"
        "mobile-content mobile-img"
        "keyboard joystick"
        "pc apple-content"
        "twitter floppy-disk" 
        "laptop floppy-disk" 
        "much-better much-better"
        "tv tv"
        ;
        grid-template-columns: 50% 50%;
    }

    .floppy-disk{
        padding-inline: var(--padding-inline);
    }

    .tv-img img{
        max-width: 100%;
        position: relative;
        top: 0;
    }
    .much-better{
        padding: var(--padding-block) var(--padding-inline);
    }
    .floppy-disk .img-wrapper {
        max-width: 400px; /* Reduce circle size */
    }

    .floppy-img img {
        width: 60%;
    }

    .laptop .mini-class {
        width: 25%; /* Make the badge larger for better visibility */
    }


}

@media screen and (max-width:1024px){
    .container{
        grid-template-areas: 
        "main-header main-header"
        "mobile-content mobile-img"
        "keyboard joystick"
        "pc apple-content"
        "twitter floppy-disk" 
        "laptop floppy-disk"      
        "much-better much-better"
        "tv tv"   
        ;
        grid-template-columns: 50% 50%;
    }
}