.outer-container{
    background-color: var(--white-bg);
}

.container{
    display: grid;
    grid-template-areas: 
    "mobile-content mobile-img main-header main-header"
    "mobile-content mobile-img main-header main-header"
    "keyboard pc apple-content floppy-disk"
    "keyboard pc apple-content floppy-disk"
    ;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
}

/* ?=================== FIRST ROW =================== */
.mobile-content{
    grid-area: mobile-content;
    background-color: var(--white-bg);
    gap: var(--gap);
    justify-content: center;
    align-items: flex-start;
}

.mobile-img{
    grid-area: mobile-img;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--white-bg);
}

.main-header{
    grid-area: main-header;
    background-color: whitesmoke;
    gap: var(--gap);
    text-align: center;
}

.main-header h1{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 3rem;
    color: var(--primary-color);
}

.main-header a{
    color: var(--blue-color);
    font-weight: 400;
} 

/* ?=================== SECOND ROW =================== */

.keyboard{
    background-color: #f05638;
}

.keyboard-content{
    text-align: center;
    gap: var(--gap);
}

.keyboard-img{
    padding-top: var(--padding-top);
}   

.keyboard a{
    color: var(--yellow-color);
}

.pc{
    background-color: chocolate; 
    padding-top: var(--padding-top);
}

.pc-img img{
    position: relative;
}

.pc-content{
    gap: var(--gap);
}

.apple-content{
    background-color: teal;
}

.floppy-disk{
    background-color: crimson;
}

.floppy-disk .flag img{
    width: 4%;
    display: inline-block;
}