.outer-container{
    background-color: var(--white-bg);
}

.container{
    display: grid;
    grid-template-areas: 
    "mobile-content mobile-img main-header main-header"
    "mobile-content mobile-img main-header main-header"
    "keyboard pc apple-content floppy-disk"
    "keyboard pc apple-content floppy-disk"
    "joystick laptop laptop floppy-disk"
    "joystick laptop laptop floppy-disk"
    ;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto auto;
}

/* ?=================== FIRST ROW =================== */

.mobile-content{
    grid-area: mobile-content;
    background-color: var(--white-bg);
    gap: var(--gap);
    justify-content: center;
    align-items: flex-start;
}

.mobile-img{
    grid-area: mobile-img;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--white-bg);
}

.main-header{
    grid-area: main-header;
    background-color: whitesmoke;
    gap: var(--gap);
    text-align: center;
}

.main-header h1{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 3rem;
    color: var(--primary-color);
}

.main-header a{
    color: var(--blue-color);
    font-weight: 400;
} 

/* ?=================== SECOND ROW =================== */

/* *======= KEYBOARD ======= */

.keyboard{
    background-color: #f05638;
}

.keyboard-content{
    text-align: center;
    gap: var(--gap);
}

.keyboard-img{
    margin-top: var(--margin-top);
}   

.keyboard a{
    color: var(--yellow-color);
}

/* *======= PC ======= */

.pc{
    background-color: var(--white-bg); 
    margin-top: var(--margin-top);
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.pc-img img{
    position: relative;
    left: -65%;
    width: 140%;
    margin-top: var(--margin-top);
    align-items: flex-end;

}

.pc-content{
    gap: var(--gap);
    padding-inline: 5rem;
}

/* *======= APPLE ======= */

.container .apple-content{
    background-color: var(--white-bg);
    gap: var(--gap);
    padding-left: 0;
    padding-right: 5rem;
}

.apple-content p{
    margin-top: var(--margin-top);
}

.apple-content a{
    color: var(--blue-color);
}

/* *======= FLOPPY DISK ======= */

.floppy-disk{
    background-color: #8f76bc;
}

.img-wrapper{
    background-color: #f05638;
    width: 100%; 
    border-radius: 50%;
}

/* .floppy-img img{
    width: 70%;
}  */

.floppy-disk .flag img{
    width: 4%;
    display: inline-block;
}