:root{
    /* ?================== FONTS ================== */
    --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* ?================== COLORS ================== */
    --home-color: #fff;
    --primary-bg-color: #f8f9fa;
    --primary-font-color: #4e4e4e;
    --secondary-font-color: #1e1e1e;
    --blue-color: #0078ff;
    /* ?================== TEXT ================== */
    --font-weight-primary: 300;
    --font-weight-secondary: 400;
    --line-height: 1.7;
    /* ?================== ANIMATION & TRANSITIONS ================== */
    --transition-duration: 0.5s;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    background-color: var(--primary-bg-color);
}

p:not(.main-header-content){
    color: var(--primary-font-color);
}

p{
    line-height: var(--line-height);
}

.section-pt-4{
    padding-top: 4rem;
}

