.report-container{
    background-color: #f1f1f1;
    padding-block: 60px;
    text-align: center;
    position: relative;
}

.icon-container{
    display: inline-block;
    padding-inline: 50px;
    margin-inline: 30px;
}

.report-icon{
    display: block;
    color: #ff305b;
    font-size: 26px;
    margin-bottom: 12px;
}

.icon-header{
    font-size: 26px;
    color: #333333;
    font-weight: 700;
    font-family: "Source Sans 3", serif;
}

.icon-text{
    color: #555555;
    font-weight: 600;
    font-family: "Source Sans 3", serif;
    font-size: 16px;
    margin-bottom: 14px;
}